@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");
/* NORMALIZADOR */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2b2b2b; }

/* ESTILOS GLOBALES */
html {
  font-family: 'Comfortaa', cursive;
  font-size: 62.5%;
  /* font-size: 16px; = 10px */ }

h1 {
  font-size: 4.2rem; }

/* UTILS */
.flex-row {
  display: flex;
  flex-direction: row; }

.flex-col {
  display: flex;
  flex-direction: column; }

.grid {
  display: grid; }

/* MAIN HEADER */
#mainHeader {
  background: linear-gradient(to right, #878787 0%, white 100%);
  text-align: center;
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 2;
  padding: 1rem 4rem; }

.flexEnd {
  justify-content: flex-end; }

header nav div picture a img {
  max-width: 100px; }

nav ul {
  list-style-type: none;
  justify-content: right; }

nav ul li {
  margin: 0 10px;
  font-size: 20px;
  font-family: 'Comfortaa', serif; }

nav ul li a:hover {
  border-bottom: 2px solid #2b2b2b;
  border-top: 2px solid #2b2b2b;
  /*  outline: 2px solid #2b2b2b;*/
  transition: 0.1s; }

nav ul li a {
  color: green !important;
  padding: 10px 15px !important;
  outline: 2px solid transparent;
  text-decoration: none; }

/*  SECTION GALERIA */
#galeriaSection {
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.2fr;
  grid-template-areas: "titulo" "galeria" "footer"; }
  #galeriaSection .galeriaTitulo {
    display: flex;
    justify-content: center;
    align-content: center; }
    #galeriaSection .galeriaTitulo__title {
      font-size: 4rem;
      margin: auto 0;
      color: #65A603;
      text-align: center; }
  #galeriaSection .galeria {
    grid-area: galeria;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around; }
    #galeriaSection .galeria__img01:hover {
      transform: scale(1.1);
      transition: ease-in-out 0.3s; }
    #galeriaSection .galeria__img02:hover {
      transform: scale(1.1);
      transition: ease-in-out 0.3s; }
    #galeriaSection .galeria__img03:hover {
      transform: scale(1.1);
      transition: ease-in-out 0.3s; }
    #galeriaSection .galeria__img04:hover {
      transform: scale(1.1);
      transition: ease-in-out 0.3s; }
    #galeriaSection .galeria__img05:hover {
      transform: scale(1.1);
      transition: ease-in-out 0.3s; }
    #galeriaSection .galeria__img06:hover {
      transform: scale(1.1);
      transition: ease-in-out 0.3s; }
    #galeriaSection .galeria__img01 {
      background-image: url(../imagenes/elongacion.jpg); }
    #galeriaSection .galeria__img02 {
      background-image: url(../imagenes/spinning.jpg); }
    #galeriaSection .galeria__img03 {
      background-image: url(../imagenes/yoga01.jpg); }
    #galeriaSection .galeria__img04 {
      background-image: url(../imagenes/yoga02.jpg); }
    #galeriaSection .galeria__img05 {
      background-image: url(../imagenes/yoga03.jpg); }
    #galeriaSection .galeria__img06 {
      background-image: url(../imagenes/001.jpg); }
    #galeriaSection .galeria * {
      margin: 1rem;
      width: 30vw;
      height: 45vh;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1rem; }

#galeriaSection .footer {
  grid-area: footer; }

#galeriaSection .galeriaTitulo {
  grid-area: titulo; }

/*  FOOTER  */
.footer {
  min-height: 10vh;
  width: 100vw;
  /* background-color: #5b5a5d;*/
  /*background-color: #3dbc31;*/
  background: linear-gradient(to right, #066b06 0%, #55d841 100%);
  flex-wrap: wrap; }
  .footer p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
    color: white;
    margin: 0 auto; }
  .footer .footerLinks {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer .footerLinks__nav__ul {
      display: flex;
      list-style-type: none; }
      .footer .footerLinks__nav__ul__li__a {
        text-decoration: none;
        color: white !important;
        font-size: 1.5rem;
        margin: 0 2rem; }
    .footer .footerLinks__footerRedes__a img {
      max-width: 30px;
      margin: 0 20px; }

.bg-verde {
  background-color: #65A603; }

.bg-gris {
  background-color: #2b2b2b; }

/*  INDEX SECTION   */
#indexSection {
  background-image: url(../imagenes/fondoHome.jpg);
  border-radius: 10px;
  margin-bottom: 1rem; }

#textoP {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #textoP h1 {
    font-size: 10rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 4rem; }
  #textoP p {
    font-family: 'WindSong', cursive;
    font-size: 6rem;
    color: #ffffff !important; }

#imagenHome {
  background-image: url(../imagenes/logo-redondo.png);
  height: 80vh;
  width: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2rem; }

/*  SECTION HORARIOS   */
#imagenHorarios {
  background-image: url(../imagenes/001.jpg);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#tabla {
  margin-left: 1rem;
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  text-align: center; }

table {
  width: 100vw;
  margin-right: 2rem; }
  table caption {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 4rem; }
  table tr th {
    background: #65A603;
    color: #FFFFFF;
    padding: 1rem 2rem;
    margin: auto; }
  table tr td {
    border-bottom: 1px solid #65A603;
    padding: 1rem 2rem 0;
    font-weight: bold; }

/*SECTION CONTACTO*/
.textoContacto div {
  border-radius: 2rem;
  margin-left: 2rem; }
  .textoContacto div h2 {
    font-size: 3rem;
    margin: 40px;
    text-align: center; }
  .textoContacto div article p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 1.8rem;
    color: #FFFFFF;
    letter-spacing: 5px;
    line-height: 30px;
    margin: 0 3rem;
    padding: 2rem; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center; }

form {
  border-radius: 15px;
  margin-bottom: 2rem; }
  form label {
    font-family: 'Comfortaa';
    font-weight: 100;
    font-size: 1.4rem;
    color: #65A603;
    font-weight: 700;
    padding: 5px; }

.botonera {
  margin: 1rem; }

.btn {
  background: #65A603;
  color: white;
  border-style: none;
  height: 3rem;
  padding: 5px;
  margin: 1rem;
  border-radius: 1rem; }

.btn:hover {
  background-color: #2b2b2b;
  color: #FFFFFF;
  transform: scale(1.1);
  transition: ease-in-out 0.2s; }

/*ERROR 404*/
.error404 {
  background-image: url(../imagenes/error404.png);
  height: 100vh;
  width: 90vw;
  background-size: contain;
  background-repeat: no-repeat; }
