   /*  SECTION GALERIA */
   
   #galeriaSection {
       grid-template-columns: 1fr;
       grid-template-rows: 0.1fr 1fr 0.2fr;
       grid-template-areas: "titulo" "galeria" "footer";
       .galeriaTitulo {
           display: flex;
           justify-content: center;
           align-content: center;
           &__title {
               font-size: 4rem;
               margin: auto 0;
               color: #65A603;
               text-align: center;
           }
       }
       .galeria {
           grid-area: galeria;
           display: flex;
           height: 100vh;
           flex-wrap: wrap;
           justify-content: space-evenly;
           align-content: space-around;
           &__img01:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img02:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img03:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img04:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img05:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img06:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img01 {
               background-image: url(../imagenes/elongacion.jpg);
           }
           &__img02 {
               background-image: url(../imagenes/spinning.jpg);
           }
           &__img03 {
               background-image: url(../imagenes/yoga01.jpg);
           }
           &__img04 {
               background-image: url(../imagenes/yoga02.jpg);
           }
           &__img05 {
               background-image: url(../imagenes/yoga03.jpg);
           }
           &__img06 {
               background-image: url(../imagenes/001.jpg);
           }
           * {
               margin: 1rem;
               width: 30vw;
               height: 45vh;
               background-size: cover;
               background-repeat: no-repeat;
               border-radius: 1rem;
           }
       }
   }
   
   #galeriaSection .footer {
       grid-area: footer;
   }
   
   #galeriaSection .galeriaTitulo {
       grid-area: titulo;
   }