   /*  SECTION GALERIA */
   
   #galeriaSection {
       grid-template-columns: 1fr;
       grid-template-rows: 0.1fr 1fr;
       grid-template-areas: "titulo" "galeria";
       .galeriaTitulo {
           display: flex;
           justify-content: center;
           align-content: center;
           &__title {
               font-size: 4rem;
               margin: auto 0;
               color: #65A603;
               text-align: center;
           }
       }
       .galeria {
           grid-area: galeria;
           display: flex;
           height: 100vh;
           flex-wrap: wrap;
           justify-content: space-evenly;
           align-content: space-around;
           &__img01:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img02:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img03:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img04:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img05:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img06:hover {
               transform: scale(1.1);
               transition: ease-in-out 0.3s;
           }
           &__img01 {
               background-image: url(../imagenes/elongacion.jpg);
           }
           &__img02 {
               background-image: url(../imagenes/spinning.jpg);
           }
           &__img03 {
               background-image: url(../imagenes/yoga01.jpg);
           }
           &__img04 {
               background-image: url(../imagenes/yoga02.jpg);
           }
           &__img05 {
               background-image: url(../imagenes/yoga03.jpg);
           }
           &__img06 {
               background-image: url(../imagenes/001.jpg);
           }
           * {
               margin: 1rem;
               width: 30vw;
               height: 45vh;
               background-size: cover;
               background-repeat: no-repeat;
               border-radius: 1rem;
           }
       }
   }
   
   #galeriaSection .galeriaTitulo {
       grid-area: titulo;
   }
   
   @media only screen and (max-width: 599px) {
       #galeriaSection {
           grid-template-columns: 1fr;
           grid-template-rows: 0.5fr 3fr;
           grid-template-areas: "titulo" "galeria";
           margin-bottom: 8rem;
       }
       .galeriaTitulo {
           margin-bottom: 15rem;
       }
   }
   /*  SECTION HORARIOS   */
   
   #tabla {
       margin-bottom: 3rem;
       font-family: 'Comfortaa', cursive;
       font-size: 12px;
       text-align: center;
   }
   
   table {
       width: 100vw;
       margin-right: 2rem;
       caption {
           font-size: 3rem;
           text-align: center;
           padding-bottom: 4rem;
       }
       tr {
           th {
               background: #65A603;
               color: #FFFFFF;
               padding: 1rem 2rem;
               margin: auto;
           }
           td {
               border-bottom: 1px solid #65A603;
               padding: 1rem 2rem 0;
               font-weight: bold;
           }
       }
   }
   /*SECTION CONTACTO*/
   
   .textoContacto {
       div {
           border-radius: 2rem;
           margin-left: 2rem;
           h2 {
               font-size: 3rem;
               text-align: center;
           }
           article {
               p {
                   text-align: center;
                   font-family: 'Comfortaa', cursive;
                   font-size: 1.8rem;
                   color: #FFFFFF;
                   letter-spacing: 5px;
                   line-height: 30px;
                   padding: 2rem;
               }
           }
       }
   }
   
   .formulario {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   form {
       border-radius: 15px;
       margin-bottom: 2rem;
       label {
           font-family: 'Comfortaa';
           font-weight: 100;
           font-size: 1.4rem;
           color: #65A603;
           font-weight: 700;
           padding: 5px;
       }
   }
   
   .botonera {
       margin: 1rem;
   }
   
   .btn {
       background: #65A603;
       color: white;
       border-style: none;
       height: 3rem;
       padding: 5px;
       margin: 1rem;
       border-radius: 1rem;
   }
   
   .btn:hover {
       background-color: #b4f141;
       color: #FFFFFF;
       transform: scale(1.1);
       transition: ease-in-out 0.2s;
   }