 /*  FOOTER  */
 
 .footer {
     min-height: 10vh;
     background: linear-gradient(to right, rgba(6, 107, 6, 1) 0%, rgba(85, 216, 65, 1) 100%);
     flex-wrap: wrap;
     p {
         text-align: center;
         font-size: 1rem;
         letter-spacing: 2px;
         color: white;
         margin: 0 auto;
     }
 }
 
 .footerLinks {
     /*width: 100vw;*/
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 footer {
     nav {
         ul {
             display: flex;
             list-style-type: none;
             a {
                 text-decoration: none;
                 color: white !important;
                 font-size: 1.5rem;
                 margin: 0 2rem;
             }
         }
     }
 }
 
 nav ul a:hover {
     transform: scale(1.1);
     transition: ease-in-out 0.2s;
 }
 
 .footerRedes {
     a {
         img {
             max-width: 30px;
             margin: 0 20px;
         }
     }
 }